/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

a, a:active, a:visited { color: inherit; }

::-moz-selection {
    background: #FF4000;
    text-shadow: none;
}

::selection {
    background: #FF4000;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #E8E8E8;
    color: #000;
    padding: 0.2em 0;
}

th {
    text-align: left;
}
td, th {
    padding-left: 1em;
}

/*******************************************/
/* CSS TEMPLATE                            */
/* To be used with a reset, or Initializr  */
/* @author Amy Guy (rhiaro.co.uk)          */
/* @date 6th December 2011                 */
/* @last-updated 18th Mar 2013              */
/*******************************************/

/**
    0.0 Accessibility
**/
    .no-css {
        /* This class hides stuff that needs to be around for screenreaders
         * or users with no CSS, but not in normal circumstances
         */
        position: absolute; left: -1000px;
    }

    @media screen and (min-width: 768px){
        .mob {
            display: none; visibility: hidden;
        }
    }

/**
    1.0 Typography
**/

    body {
        font-size: 1em;
        line-height: 1.2;
        font-family: Arial, Helvetica, sans-serif;
        overflow-x: hidden;    }

    h1 { font-size: 2em; letter-spacing: -1px; font-family: Helvetica, Arial, sans-serif; text-align: left; line-height:0.8; }
    h2 { font-size: 1.4em; letter-spacing: -1px; font-family: Helvetica, Arial, sans-serif; font-weight:bold; line-height:1;}
    h3 { font-size: 1.2em; letter-spacing: -1px; font-family: Helvetica, Arial, sans-serif; font-weight:bold; line-height:0.8;}
    h4 { font-size: 1.2em; letter-spacing: -1px; font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-style: italic;}
    h5 {}

    header a { text-decoration: none; color: inherit; }
    header a:hover {text-decoration: none; }
    li a, li p a, .postnav a { text-decoration: none; }
    p a {text-decoration: underline;}
    footer a { text-decoration: underline;}
    a { text-decoration: inherit; }
    a:hover { text-decoration: underline; }

    nav { text-align: center; font-weight: bold;}
    nav a:hover { text-decoration: none; }
    a time, a:visited time { text-decoration: none; }

    pre .trigger { font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 1.2em; }
    pre code { font-size: 1.4em; }
    p code, li code { font-size: 0.8em; }
    
    .b { font-weight: bold; }
    .strike { text-decoration: line-through; }

    .note {
      font-size: 1em;
      font-weight: bold;
      text-align: right;
    }

    .wee, footer {
      font-size: 0.8em;
    }

    .win, .fail {}
    ul.win, ul.fail, form ul, .unlist { list-style-type: none;}
    form ul { margin: 0; padding: 0;}

    .upp { text-transform: uppercase; }
    .low { text-transform: lowercase; }
    .cap { text-transform: capitalize; }
    .align-left { text-align: left;}
    .align-right { text-align: right;}
    .align-center { text-align: center;}

    button, .btn, .btn-big {
      text-align: center;
    }

    button a, .btn a, .btn-big a {
      text-decoration: none;
    }

    pre { font-size: 0.5em; }

    footer a {
        text-decoration: underline;
    }

/*  1.2     */
    @media screen and (min-width: 768px){
    }

/*  1.3     */
    @media screen and (min-width: 1024px){}

/*  1.4     */
    @media screen and (min-width: 1200px){}


/**
    2.0 Colors, shadows, borders
**/
    
    /* Borders */
      .win, .fail, .color1-border, .color2-border, .color3-border, .lighter-border { border: 2px solid;}
      .dark-top-border, .color1-top-border, .color2-top-border, .color3-top-border, .light-top-border { border-top: 2px solid;}
      .color3border-bottom, h1 { border-bottom: 1px solid; }
      input, textarea { border: 1px solid silver; }
      .btn-big { border-radius: 6px; }
      blockquote { border-left: 4px solid; }

    /* Darkish */
        .darkish{ color: #9e9e9e;  }
        .darkish-bg{ background-color: #9e9e9e; }
        .darkish-texture { background-color: #9e9e9e; background-repeat: repeat;}
        .darkish-border { border-color: #9e9e9e; }
        .darkish-gradient {}
        .darkish-hov:hover { color: #9e9e9e; }
    /* Dark */
        .dark{ color: #2d2d2d;  }
        .dark-bg{ background-color: #2d2d2d; }
        .dark-texture { background-color: #2d2d2d; background-repeat: repeat;}
        .dark-border { border-color: #2d2d2d; }
        .dark-gradient {}
        .dark-hov:hover { color: #2d2d2d; }
    /* Darker */
        .darker, a time, .e-content h2, .postnav a { color: #000; }
        .darker-bg{ background-color: #000; }
        .darker-texture { background-color: #000; }
        .darker-border { border-color: #000; }
        .darker-gradient {}
        .darker-hov:hover { color: #000; }

    /* Primary Color (dark green) */
        .color1, .hicon, h1, a, nav { color: #729871;}
        .color1-bg, .menu-tweak { background-color: #729871;}
        .color1-texture { background-color: #729871; background-repeat: repeat;}
        .color1-border, blockquote { border-color: #729871;}
        .color1-gradient {}
        .color1-hov:hover { color: #729871; }
        
    /* Secondary Color (medium green) */
        .color2, a:hover { color: #92C492;}
        .color2-bg{ background-color: #92C492;}
        .color2-texture { background-color: #92C492; background-repeat: repeat;}
        .color2-border{ border-color: #92C492;}
        .color2-gradient {}
        .color2-hov:hover { color: #92C492;}
        .color2bg-hov:hover { background-color: #92C492;}
        .color2border-hov { border-color: transparent;}
        .color2border-hov:hover { border-color: #92C492;}

    /* Teritiary Color (pale green) */
        .color3 { color: #c1dec0;}
        .color3-bg, pre, code { background-color: #c1dec0;}
        .color3-texture { background-color: #c1dec0; background-repeat: repeat; }
        .color3-border { border-color: #c1dec0;}
        .color3-gradient {}
        .color3-hov:hover { color: #c1dec0;}
        .color3bg-hov:hover { background-color: #c1dec0;}
        .color3border-hov { border-color: transparent;}
        .color3border-hov:hover, .color3border-bottom, h1 { border-color: #c1dec0;}
        .color3-shadow { text-shadow: 1px 1px 1px #c1dec0; }

    /* Light */
        .light { color: #E8E8E8; }
        .light-bg{ background-color: #E8E8E8; }
        .light-texture {background-color: #ededed; background-repeat: repeat;}
        .light-border {border-color: #E8E8E8; }
        .light-gradient {}
        .light-hov:hover { color: #E8E8E8; }

    /* Lighter */
        .lighter{ color: #fff; }
        .lighter-bg{ background-color: #fff; }
        .lighter-texture {}
        .lighter-border {border-color: #fff; }
        .lighter-gradient {}
        .lighter-hov:hover { color: #fff; }

    .plist a, .plist a:visited, .plist a:active { color: inherit; }

    .note { color: silver; }

    .trans { opacity: 0.6; }
    .opaque { opacity: 1; }

    .win {
      background-color: #E6EFC2;
      color:#264409;
      border-color:#C6D880;
    }

    .fail {
      background:#FBE3E4;
      color:#8a1f11;
      border-color:#FBC2C4;
    }

    .btn a, input.btn {
        border: 1px solid;
        border-radius: 10px;
    }

    /********* where ***********/
    .where-wrapper { position: relative; top: 108px; text-align: center; }
    .where-header { position: fixed; top: 0; left: 0; z-index: 200; max-height: 108px; padding: 0.5em;}

    .key { font-size: 1em; color: #fff; text-align: center; margin-bottom: 0.6em; }
    .key .block { padding: 0.5em; display: inline-block; }
    .where-wrapper .block { height: 1px; overflow: visible; float: right; z-index: 0;}
    .where-wrapper .text-left { visibility: hidden; margin-left:-70%; width: 70%; text-align: right; }
    .where-wrapper .text-right { visibility: hidden; margin-left:100%; width: 70%; text-align: left; }
    .where-wrapper .text-center { visibility: hidden; text-align: center; }
    .where-wrapper .text-left, .where-wrapper .text-right, .where-wrapper .text-center { padding: 0.4em; font-size: 0.8em; z-index: 100; }
    .where-wrapper .h-entry:hover .text-left, .where-wrapper .h-entry:hover .text-right, .where-wrapper .h-entry:hover .text-center { visibility: visible; }

    .home { background-color: #957DF5; }
    .transit { background-color: #97B4F7; }
    .office { background-color: #EA90FC; }
    .volunteer { background-color: #A2FC90; }
    .exercise { background-color: #FCB490; }
    .event { background-color: #D8FC90; }
    .food { background-color: #FA854B; }
    .meeting { background-color: #8E06BA; }
    .seminar { background-color: #BA069F; }
    .other { background-color: #ccc; }
    /****************************************************/

/**
    3.0 Spacing / Grid
**/

    .wrapper { width: 100%; }

    /* Grid */
    .w1of1, .w1of2, .w1of3, .w1of4, .w1of5,
    .w2of3, .w3of4, .w2of5, .w3of5, .w4of5 {
        width: 100%;
        word-wrap: break-word;
    }

    .inner { padding: 0.6em; }
    .unpad { padding: 0; margin: 0;}
    .nobr { white-space: nowrap; }

    h2, h3 { margin-bottom: 0px; }
    
    article { margin-bottom: 1em; }
    article h1 { margin-top: 0px; margin-bottom:0px; }

    nav {
        width: 100%;
        max-width: 100%;
        padding-top: 0.2em;
    }
    nav li { display: inline-block; width: 32%; }
    nav a {
        display: inline-block;
        padding: 0.4em;
    }
    
    nav ul, .plist, .uplist { padding: 0; margin: 0; list-style-type: none;}
    ul.subp { margin-top: -1em; margin-left: 8em;}
    ul.subp li, ul.subp p { padding: 0; margin: 0; }

    pre { padding: 0.4em; }

    .plist li p {
        padding: 0px; margin: 0px;
        line-height: 1;
    }
    .plist li { padding-top: 0.4em; padding-bottom: 0.4em; margin-top: 0.2em; margin-bottom: 0.2em; }
    .plist .tags { padding-top: 0.6em; }
    .plist time { line-height: 2; }

    .bloblist { margin: 0px; padding: 0px; }
    .bloblist li { display: inline-block; padding-right: 1em; white-space: nowrap;}
    .box { margin: 1em; padding: 0.8em 0.4em 0.6em 0.4em; min-height: 2em; }
    li.box { padding-top: 0.8em; padding-bottom: 0.6em;  }
    .box i { text-align: center; margin: 0em 0.4em 0em 0.2em; }

    .tagcloud { margin-top: 2em; margin-bottom: 2em; }

    .postnav i {  width: 30%; }
    .contactbox { text-align:center; width: 100%; max-width:264px; }

    .btn { display: inline-block; margin: 0; padding: 0;}
    button {
      padding: 0.5em;
    }
    .btn a, .btn-big a {
      padding: 0.5em;
      display: block; width: 100%;
    }
    input.btn { padding: 0.5em; }

    input, textarea { padding: 0.2em; }

    label.neat {
        display: inline-block;
        width: 5.6em;
    }
    input.neat {
        display: inline-block;
        width: 75%;
    }
    label.neat-big {
        display: inline-block;
        width: 100%;
    }
    input.neat-big, textarea.neat-big, textarea.neat, select.neat-big {
        display: inline-block;
        width: 90%;
    }
    textarea.neat, textarea.neat-big {
        height: 48em;
    }

    blockquote { margin-left: 0.6em; padding-left: 0.6em; }

    .inline { display: inline; }
    .center { margin-left: auto; margin-right: auto; float: none !important; }
    .right { width:100%; }
    .left { width:100%; }

    .win, .fail {
      padding: 0.2em;
      display: block;
    }

    .showhide {
        cursor: pointer;
        padding: 1em;
    }
    .showhide .contents {
        display: none;
    }
    .showhide:hover {
        cursor: default;
    }
    .showhide:hover .contents {
        display: inline;
    }
    .showhide:hover .trigger {
        display: none;
    }

    footer { margin-top: 2em; }

/*  3.1     */
    @media screen and (min-width: 479px){
      
    }

/*  3.2     */
    @media screen and (min-width: 768px){

        .wrapper {
            width: 80%; max-width: 1200px;
            /*margin-left: auto; margin-right: auto;*/
        }

        .w1of2 { width: 50%; float: left; }
        .w1of3 { width: 33%; float: left; }
        .w1of4 { width: 25%; float: left; }
        .w1of5 { width: 20%; float: left; }
        .w2of3 { width: 66%; float: left; }
        .w3of4 { width: 75%; float: left; }
        .w2of5 { width: 40%; float: left; }
        .w3of5 { width: 60%; float: left; }
        .w4of5 { width: 80%; float: left; }

        /*.w1of3:nth-child(odd) { clear: none; }
        .w1of3:nth-child(3n-2) { clear: both; }*/

        .content { height: 100%; overflow-y: scroll;}
        .content .inner { padding-left: 32px; padding-top: 64px;}
        nav a { display: inline-block; }
        nav .btn-big a { padding-top: 1.2em; padding-bottom: 1.2em;}
        nav .btn-big .logo { margin-top: -0.6em; }
        
        .right { float: right; width: auto; }
        .left { float: left; width: auto; }

    }

/*  3.3     */
    @media screen and (min-width: 1024px){
        .pos-right { position: absolute; top: 0; right: 8px;}
        .pos-left { position: absolute; top: 0; left: 8px;}
    }

/*  3.4     */
    @media screen and (min-width: 1200px){}


/**
    4.0 Images & video
**/

    img {
      max-width: 100%;
    }
    .logo { width: 100%; max-width: 144px;}
    .icon { width: 100%; max-width: 32px;}
    .midicon { width: 100%; max-width: 64px; border-radius: 50%; }
    
    .figure { text-align: center; }
    .figure img { max-width: 100%; }
    .caption { text-align: center; font-style: italic; }
    
    .vid-holder {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        text-align: center;
    }

    .vid-holder iframe,
    .vid-holder object,
    .vid-holder embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    ul.barchart{
      margin:0;
      padding:0;
      background:#eee;
      border:1px solid #999;
      overflow:hidden;
      list-style:none;
      position:relative;
      width:600px;height:200px;
    }
    
    .barchart li{
      height:200px;
      list-style:none;
      margin:0;
      padding:0;
      float:left;
      width:75px;
      background:#369;
      border-top:1px solid #eee;
      margin-right: 4px;
    }
    
    .barchart li span{
      position:absolute;
      top:1em;
      left:-9999px;
    }
    .barchart li:hover{
      background:#69c;
    }
    .barchart li:hover span{
      left:1em;
    }
    .barchart li label{
      position: absolute; bottom: 1em;
      font-size: 0.6em;
    }

    /* Full width images on bigger than small screens are dumb. Reset this. */
    @media screen and (max-width: 478px){
      .w1of1 img, .w1of2 img, .w1of3 img, .w1of4 img, .w1of5 img,
      .w2of3 img, .w3of4 img, .w2of5 img, .w3of5 img, .w4of5 img {
        width: 100%;
      }
    }







/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}